.container{
    display:grid;
    height: 400px;
    width: 450px;
    margin: auto;
text-decoration: none;
}
.listTem{
    display:inline-flex;
    justify-content: center;
    margin: auto;
}
.buttonDel{
    border: 0;
    background-color: rgba(0,0,0,0);
    text-size-adjust: auto;
    font-size: 19ox;
}