.container {
    display: grid;
    max-height: 600px;
    height: auto;
    max-width: 700px;
    width: auto;
    margin: auto;
    background-color: rgba(222, 184, 135, 0.6);
    border-radius: 10px 35px 10px 35px;
    justify-content: center;
}

.container:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgba(222, 184, 135, 0.9);
    margin-bottom: 18px;
}

.inputN {
    border: 0;
    max-width: 500px;
    text-align: center;
}

.labels {
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

.labelsCointain {
    font-weight: bold;
    display: inline-block;
    margin: auto;
}

.inputs {
    border: 0;
    margin: 10px;
    height: 15px;
    width: 75px;
}

.botton {
    font-weight: bold;
    border: 0;
    border-radius: 2px;
    width: 400;
}
.selectContains{
    max-width: 500px;
    display: inline-flexbox;
    justify-content: center;
    margin-bottom: 10px;
}
.uele{
    margin: auto;
    justify-content: center;
    display: inline-block;
}
.listTem {
    justify-content: center;
    display: inline-flex;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}